{% extends "base.html"%}
{% block content%}
{% if user.is_authenticated %}
<a href="/restaurant/{{ title.slug }}/"><h3>{{ menu.name }}</h3></br></a>
<table class="table table-hover">
    <thead>
        <tr>
            <th>User</th>
            <th>Rate</th>
            <th>Comment</th>
        </tr>
    </thead>
    {% for com in  menu.get_ratings.all %}
    <tbody>
        <tr>
            <td><p>{{ com.rate_by }}</p></td>
            <td><p>{{ com.ratings }}</p></td>
            <td><p>{{ com.comment }}</p></td>
        </tr>
    {% endfor %}
    </tbody>  
</table>

<a href="/restaurant/{{ title.slug }}/{{ meal_slug }}/comment" class="btn btn-info">Add comment</a>
</div>

{% else %}
<h1>ZALOGUJ SIE ~!</h1>
{% endif %}
{% endblock %}



